
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: red;
}


form {
    text-align: center;
  }
  
  input[type=text] {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.row{
    color: #fff;
    display: flex;
    height: 88%;
    align-items: center;
}

.col1{
    flex-basis: 40%;
}

.col2{
    flex-basis: 30%;
}

.col3{
    flex-basis: 30%;
}

h1{
    color: #fff;
    font-size: 80px;
}

p{
    color: #fff;
    font-size: 12px;
    line-height: 15px;
} 

 button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
 }

 .card{
    width: 300px;
    height: 225px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px; 
    background-image: url(../images/autextification.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
 }

 .card1{
    background-image: url(../images/autextification.png);
 }

 .card2{
    background-image: url(../images/autextification2.png);
 }

 .card:hover{
    transform: translateY(-10px);
 }

 h5{
    text-shadow: 0 0 5px #999;
 }

 .card p{
    text-shadow: 0 0 15px #000;
    font-size: 10px;
 }