{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{% static 'css/main.css' %}">
    <script src="{% static 'js/dropdown.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'predictor' %}"><img src="../static/images/logo_ml_models_2.png" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="{% url 'predictor' %}">HOME</a></li>
                    <li><a href="{% url 'about_section' %}">ABOUT</a></li>
                </ul>
            </nav>    
            <img src="../static/images/menu.png" class="menu-icon" onclick="toggleMenu()">  
            <div class="dropdown-wrap" id="dropdownWrap">
                <div class="dropdown-menu">
                    <a href="{% url 'autextification_page' %}" class="dropdown-menu-link">
                        <!-- <img src="../static/images/menu.png" class="menu-icon"> -->
                        <p>AuTexTification</p>
                        <span>></span>
                    </a>
                    <hr>
                    <a href="{% url 'digit_recognizer_page' %}" class="dropdown-menu-link">
                        <!-- <img src="../static/images/menu.png" class="menu-icon"> -->
                        <p>Digit Recognizer</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    
        {% block body %}
        <!-- inside of the website here -->r
        {% endblock %}
    </div>
    <script>
        let dropdownWrap = document.getElementById("dropdownWrap");

        function toggleMenu(){
            dropdownWrap.classList.toggle("open-menu");
        }
    </script>
</body>
</html>