{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{% static 'css/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'predictor' %}"><img src="../static/images/logo2.png" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="{% url 'predictor' %}">HOME</a></li>
                    <li><a href="{% url 'about_section' %}">ABOUT</a></li>
                </ul>
            </nav>
            <img src="../static/images/menu.png" class="menu-icon">
        </div>
    
        {% block body %}
        <!-- inside of the website here -->
        {% endblock %}
    </div>
</body>
</html>