{% extends 'base.html' %}

{% block head %}

<title>AuTexTification</title>

{% endblock %} 

{% block body %}

<div class="content">
    <h1 style="text-align: center;">Digit recognizer</h1>

    {% if result %}
    <h1>The number you have provided is a {{result}}</h1>
    {% endif %}

    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <input type="file" id="uploadImageButton" accept="image/*" required>
            <label for="uploadImageButton"><i class="fa-solid fa-upload"></i> Upload a digit image</label>
            <br>
            <br>
            <input type="submit" value="Get the classification of your number">
        </form>
    </div>
</div>

{% endblock %}
